---
layout: default
---
<h1 style="text-align: left;">&nbsp;<span style="font-family: courier;">Anime Mandir | About Us<span><!--more--></span></span></h1><p><br /></p><p>Anime Mandir, Founded in 2020 and is improving towards becoming the go to go source for comic, manga and manwha and anime industry news, discussion and community.</p><p>Our goal is the supply anyone interested in comics, manga, manwha and anime with latest and best information and resources that will provide a greater appreciation and investment in the said medium. Whether you are a life long anime and manga fan or a casual enjoyer, We are here for you.</p><p><br /></p><h3 style="text-align: left;"><span style="font-family: courier;">The Team</span></h3><p>This website is managed by Aayush C, now 19, under the supervision of his Guardian Adv. Satish C.</p>
