---
layout: default
---
<meta content="Constant Contact" lang="en-US" name="description"></meta>
<h1 style="text-align: left;">Contact Anime Mandir.<span><!--more--></span></h1> <span style="background-color: white; color: #1f1f1f; font-family: Roboto; font-size: 17px;">If you have any questions or comments about Anime Mandir, please do not hesitate to contact us.&nbsp;</span>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFhqWC6oG8eF9oFSJuozR0TJaMq2mUILyIP9sJB1VllMBTIQ/viewform?embedded=true" width="640" height="1557" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
