@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700;&display=swap');

.footer-basic{padding:40px 0; background-color:#ffffff; color:#4b4c4d;}.footer-basic ul{padding:0; list-style:none; text-align:center; font-size:18px; line-height:1.6; margin-bottom:0;}.footer-basic li{padding:0 10px;}.footer-basic ul a{color:inherit; text-decoration:none; opacity:0.8;}.footer-basic ul a:hover{opacity:1;}.footer-basic .copyright{margin-top:15px; text-align:center; font-size:13px; color:#aaa; margin-bottom:0;}

.navbar-brand {
	font-family: 'Roboto';
}
